.sectionSegmentos {
  background-color: var(--lightyellow);
  min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Faz a section cobrir 100% da largura */
  padding: 0; /* Remove qualquer padding padrão */
  box-sizing: border-box;
}

.carouselContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto; /* Centraliza o carrossel horizontalmente */
  margin-bottom: 10%;
  padding: 0 10px; /* Pequeno padding para ajuste em larguras menores */
  box-sizing: border-box;
  position: relative; /* Necessário para centralizar o botão e imagem */
}

.carouselContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.carouselItem {
  height: 450px;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Garante que o conteúdo fique centralizado */
  align-items: center;
  position: relative;
}

.carouselImageContainer {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 10px;
  box-sizing: border-box;
  position: relative; /* Para permitir o posicionamento absoluto do botão */
}

.carouselImage {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carouselButton {
  background-color: #250001;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 145px; /* Botão sobrepõe metade da imagem */
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
}

.carouselButton:hover {
  background-color: #640003;
}

/* Ajustes de responsividade */
@media (max-width: 1024px) {

  .carouselItem {
    height: 400px;
    margin-bottom: 30%;
    padding: -20px 0px;
    /* border: 1px solid red; */
  }

  .carouselButton {
    width: 35%;
    padding: 8px 16px;
    margin: -45px 0px;
  }

  .slick-dots {
    position: absolute;
    bottom: 70px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

}

@media (max-width: 768px) {
  .carouselItem {
    height: 500px;
    margin-bottom: 100%;
    margin: auto;
  }

  .carouselImage {
    height: 90%;
    width: 90%;
  }

  .carouselButton {
    width: 40%;
    padding: 8px 16px;
    margin: 0px 0px;
  }

  .carouselButton {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

