.button {
    background-color: var(--red);
    color: var(--white);
    width: 360px;
    padding: 30px 40px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    user-select: none;
    transition: 500ms;
    font-weight: bold;
}

.button:hover {
    background-color: var(--reddish);
    cursor: pointer;
    scale: 1.1;
} .button:active {
    scale: 1;
}

.formulario .button {
    transform: scale(1);
}
.formulario .button:hover {
    transform: scale(0.9);
}

.formulario .button:active {
    scale: 0.8;
}