.secao-formulario {
    background-image: url('../../../assets/backgroundForm.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.963);
    min-height: 100vh; /* Deixa a altura dinâmica com base no conteúdo */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}



.conteudo-secao h2 {
    font-size: 64px;
    font-weight: 800;
    color: #F5F5F5;
    margin: 0px 0px 20px 0px;

}

.conteudo-secao h3 {
    font-size: 20px;
    font-weight: 600;
    color: #F5F5F5;
}


.conteudo-secao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100%; 
    gap: 50px;
}

.titulo-conteudo, .formulario {
    display: flex;
    margin: 30px;
}

.titulo-conteudo {
    flex-direction: column;
    width: 50%;
}

.formulario {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario input {
    width: 100%;
    border: none;
    outline: none;
    padding: 18px;
    margin: 8px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #F5F5F5;
    transition: 0.5s;

}

.formulario input:focus {
    background-color: rgba(0, 0, 0, 0.438);
    color: #F5F5F5;
}

.formulario ::placeholder {
    color: rgba(0, 0, 0, 0.493);
    font-weight: 700;
}

.formulario input:focus::placeholder {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.formulario>div {
    display: flex;
    width: 100%;
}

.formulario button:hover {
    background-color: #520606;
    transform: scale(0.9);
}

.formulario  button:active {
    scale: 0.8;
}


@media (max-width: 1440px) {

    .conteudo-secao {
        max-width: 900px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 100px;
    }

    .titulo-conteudo {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .titulo-conteudo h2 {
        font-size: 50px;
        max-width: 400px;
        margin: 0px 10px 0px 0px;
    }

    .titulo-conteudo h3 {
        max-width: 400px;
        margin: 0px 0px 0px 10px;
    }

    .formulario {
        margin-top: -80px;
    }

    .formulario input {
        max-width: 300px;  
    }

    .formulario input[type="email"] {
        max-width: 100%;
    }

    .formulario button {
        max-width: 300px;
        font-size: 25px;
        padding: 25px;
    }

}

@media (max-width: 900px) {

    .titulo-conteudo {
        flex-direction: column;
    }

    .titulo-conteudo h2, h3 {
        text-align: center;
        max-width: 100%;
        margin: 10px;
    }

}



@media (max-width: 720px) {

    .conteudo-secao {
        min-height: 700px; 
    }

    .titulo-conteudo h2 {
        font-size: 40px;
        max-width: 370px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .titulo-conteudo h3 {
        max-width: 370px;
        margin: 0px;
    }

    .formulario input {
        font-size: 15px; 
    }

    .formulario button {
        max-width: 250px;
        font-size: 20px;
        padding: 20px;
    }

}

@media (max-width: 480px) {

    .conteudo-secao {
        min-height: 100%;
    }
    .conteudo-secao > {
        padding: 0px;
        margin: 0px;
    }

    .titulo-conteudo {
        max-width: 280px;
        padding-bottom: 25px;
    }

    .formulario {
        max-width: 280px;
    }

}






