@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  box-sizing: border-box; /* Garante que padding e bordas sejam incluídos na largura total do elemento */
}

.mainContainer {
  background-color: #E9DA6E; /* Cor de fundo amarela aplicada a toda a seção */
  padding: 0px 20px;
  min-height: 100vh; /* Garante que a cor de fundo cubra toda a altura da página */
  box-sizing: border-box; /* Garante que o padding não cause ultrapassagem da largura */
}

/* Estilos do cabeçalho */
.header {
  text-align: center;
  padding: 20px;
  background-color: #E9DA6E;
  margin-bottom: 90px;
}

.header h1 {
  font-size: 2rem;
  color: #333;
  margin: 0;
}

.header hr {
  width: 50%; /* Ajusta a largura do <hr> */
  height: 1px; /* Ajusta a altura do <hr> */
  border: none; /* Remove a borda padrão */
  background-color: #444; /* Define a cor da linha */
}

.header p {
  font-size: 1.2rem;
  color: #667;
}

/* Consultas de mídia para ajustar o cabeçalho em diferentes tamanhos de tela */
@media (max-width: 1024px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .header p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.2rem;
  }

  .header p {
    font-size: 0.9rem;
  }
}
