
.section-autoridade {
    height: 100vh;
}
.box-titulo{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
}


.box-titulo h1{
   
    color: #372B2B;
}

.box-titulo h2{
    font-weight: 400;
    color: #5E5E5E;
}

.box-info{
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.texto{
    color: #372B2B;
    font-size: 20px;
    line-height: 2;
    text-align: justify;
    padding: 24px;
    width: 60%;
}
.container-carrossel{
    width: 400px;
}
.box-icons{
    color: #372B2B;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon-item{
    text-align: center;
}
.icon-image{
    width: 80px;
    height: 80px;
}
.icon-text{
    font-size: 18px;
    font-weight: 800;
}