.header {
    background-color: var(--black);
}
.cabecalho {
    padding: 10px;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    max-width: 1440px;
}
.cabecalho a,
.cabecalho a:visited, .cabecalho span {
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--white);
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    scale: 0.9;
}

.cabecalho li {
    transform: scale(1);
}

.cabecalho a:hover, .cabecalho span:hover{
    transition: 500ms;
    scale: 1;
}
.cabecalho a:active,
.cabecalho span:active {
    scale: 0.9;
}

.cabecalho img {
    width: 150px;
}

.cabecalho ul {
    list-style: none;
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-around;
}
.dropdownMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.dropdownContent {
    scale: 1;
    top: 2rem;
    position: absolute;
    padding: 20px 15px;
    border-radius: 0px 0px 15px 15px;
    border-top: 0;
    background-color: var(--black);
    width: 220px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dropdownContent a {
    padding: 3px;
    border-radius: 5px;
    background-color: var(--reddish);
}