.carrossel {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 24px;
    max-width: 1440px;
    width: 70%;
    position: relative;
    color: var(--brown);
}

.carrossel:hover {
    cursor: grab;
}

.carrossel-item {
    background-color: #ffd54a;
    border-radius: 18px;
    padding: 24px 12px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: 0.2s all ease-in-out;
}

.carrossel-item:hover {
    background-color: #ffdd62;
}

.carrossel-wrapper {
    display: flex;
    justify-content: space-between;
}

.carrossel-imagem {
    border-radius: 50%;
    width: 136px;
    height: 136px;
    padding: 6px;
    object-fit: cover;
    margin-bottom: 15px;
    background-color: #64cccc;
}

.swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: var(--black);
    opacity: 0.5;
    transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--black);
}

h4 {
    font-size: 20px;
    font-weight: 800;
}

.carrossel-item p {
    padding: 0 12px;
    text-align: justify;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    .carrossel {
        width: 90%; /* Ajusta a largura para telas menores */
    }
    .swiper-pagination {
        bottom: -15px; /* Ajusta os bullets um pouco mais alto em telas menores */
    }
}

@media (max-width: 480px) {
    .carrossel {
        height: 400px; /* Ajusta a altura para telas pequenas */
        width: 90%;
        margin: auto;
    }

    .carrossel-item {
        padding: 20px;
    }

    .swiper-pagination {
        bottom: -10px; /* Ajusta ainda mais a posição dos bullets */
    }
}
