.carrossel {
    margin: auto;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 80%;
    position: relative;
    color: var(--brown);
    overflow: hidden;
}

.carrossel:hover {
    cursor: grab;
}

.card-carrossel{
    padding: 0 14px;
}

.carrossel-item {
    width: 100%;
    height: 392px;
    background-color: #ffd54a;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    transition: 0.2s all ease-in-out;
}

.carrossel-item:hover {
    background-color: #ffdd62;
}

.carrossel-imagem {
    border-radius: 50%;
    width: 136px;
    height: 136px;
    object-fit: cover;
    margin-bottom: 15px;
}

.carrossel .swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carrossel .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: var(--black);
    opacity: 0.5;
    transition: opacity 0.3s;
}

.carrossel .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--brown);
}

.carrossel .swiper-button-next {
    color: red;
    right: -14px;
    width: 50px;
    height: 50px;
}

.carrossel .swiper-button-prev {
    color: red;
    left: -14px;
    width: 50px;
    height: 50px;
}

.carrossel .swiper-button-next::after,
.carrossel .swiper-button-prev::after {
    font-size: 16px;
    color: black;
}

h4 {
    font-size: 20px;
    font-weight: 800;
}

.carrossel-item p {
    padding: 0 12px;
    text-align: justify;
}

@media (max-width: 768px) {
    .carrossel {
        width: 90%;
        height: 440px;
        padding: 0 10px;
    }
    .carrossel-item{
        height: 400px;
    }
    .carrossel .swiper-pagination {
        bottom: -15px;
    }
}

@media (max-width: 480px) {
    .carrossel {
        height: 460px;
        width: 90%;
        margin: auto;
    }

    .carrossel-item {
        width: 90%;
        height: 420px;
        padding: 20px;
    }

    .carrossel .swiper-pagination {
        bottom: -10px;
    }
}
