@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #F5F5F5;
    --brown: #372B2B;
    --red: #D30D0D;
    --reddish: #850A0A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

section {
    height: 100vh;
}

section > div {
  max-width: 1440px;
  margin: auto;
}

header > div {
    max-width: 1440px;
    margin: auto;
}

